<html>
<head>
	<title>Searchable Grid Demo</title>
	<script src="lib/angular/angular.min.js"></script>
	<script>
		var app = angular.module('app', []);
		app.controller("ctrl", function($scope){
			$scope.emps = [
				{"name": "Puneet", "empId": "Niit2015", "salary": "500000"},
				{"name": "Jai", "empId": "Lg2042", "salary": "900000"},
				{"name": "Suraj", "empId": "Niit2015", "salary": "400000"},
				{"name": "Pawan", "empId": "Wip6215", "salary": "600000"},
				{"name": "Amit", "empId": "Niit5214", "salary": "200000"}
			]
		})
	</script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<input type="text" placeholder="Search by name" ng-model="search.name"/>
	<input type="text" placeholder="Search by id" ng-model="search.empId"/>
	<input type="text" placeholder="Search by salary" ng-model="search.salary"/>
	
	<input type="text" placeholder="Search by anything" ng-model="search.$"/>
	<table border="1" width="60%">
		<tr>
			<td>S.No</td>
			<td>Name</td>
			<td>EmpId</td>
			<td>Salary</td>
		</tr>
		<tr ng-repeat="emp in emps | filter:search">
			<td>{{$index+1}}</td>
			<td>{{emp.name}}</td>
			<td>{{emp.empId}}</td>
			<td>{{emp.salary}}</td>
		</tr>
	</table>

</body>
</html>