<html>
<head>
	<title>Ajax Demo</title>
	<style>
		table{
			border: 1px solid black;
			width: 80%;
			margin: 10px auto;
		}
	</style>
	<script src="./../Day4/lib/angular/angular.min.js"></script>
	
	<script>

		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http){
			$scope.loadData = function(){
				$http({
					method: 'get',
					url: './../dummyServer/emp.json'
				}).success(function(res){
					console.log('response is here');
					console.log(res.emps);
					$scope.employees = res.emps;
				}).error(function(xhr, message, status){
					console.log("some error on server");
					console.log(xhr)
					console.log(message)
					console.log(status)
				});
			}
		})
	</script>
</head>
<body ng-app = "myApp" ng-controller="myCtrl">
	<button ng-click="loadData()">Load Data</button>
	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>EmpId</th>
				<th>Salary</th>
			</tr>
		</thead>
		<tbody id="tableBody">
			<tr>
				<td>Williams</td>
				<td>Niit0314</td>
				<td>500000</td>
			</tr>
			<tr ng-repeat="emp in employees">
				<td>{{emp.name}}</td>
				<td>{{emp.empId}}</td>
				<td>{{emp.salary}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>